*~
__pycache__
*egg-info*
*.pyc
.DS_Store
docs/_build/
docs/venv/
.idea
build/
dist/
conn_test.bin
MANIFEST
.tox
.coverage
.eggs
.pypirc
venv/
examples/venv/

htmlcov/
.mypy_cache/
pip-wheel-metadata/